
<link href="~/Content/thongtindanhgia.css" rel="stylesheet" />
<div class="ratings-boxes">
    <div class="summary">
        <b>94</b> bình luận đã chia sẻ
    </div>
    <div class="ratings-numbers">
        <span class="rating-levels">
            <b class="exellent">
                12
            </b> Tuyệt vời
        </span>
    </div>
    <div class="ratings-numbers">
        <span class="rating-levels">
            <b class="good">
                65
            </b> Khá tốt
        </span>
    </div>
    <div class="ratings-numbers">
        <span class="rating-levels">
            <b class="average">
                14
            </b> Trung bình
        </span>
    </div>
    <div class="ratings-numbers">
        <span class="rating-levels">
            <b class="bad">
                3
            </b> Kém
        </span>
    </div>
    <hr />
    <div class="ratings-boxes-points text-center">
        <div>
            <span style="padding-bottom:5px; overflow:hidden;">
                <b style="font-size: 22px; color: #03ae03;">
                    7.6
                </b>
                <span style="color:#999;font-size:11px;">điểm</span>
            </span>
            - Khá tốt
        </div>
    </div>
</div>

